body {
    background-color: white;
    font-family: Arial, sans-serif;
  }

  table {
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #a2d6c4;
    margin: 20px auto;
    border-radius: 15px;
    padding: 5px;
    width: 60%;
  }

  th, td {
    border: 2px solid #5ea897;
    padding: 5px;
    text-align: left;
    border-radius: 15px;
    
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 30px;
  }

  .shape {
    width: 80px;
    height: 80px;
    border: 3px solid #a1cb59;
  }

  .square {
    border-radius: 0;
  }

  .rounded-rect {
    border-radius: 15px;
  }

  .circle {
    border-radius: 50%;
    width: 80px;
    height: 60px;
  }